.Grid {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    width: min(
        calc(100cqw - 40px),
        var(--max-width),
        calc((100cqh - var(--header-height) - var(--keyboard-height)) * 5 / 6)
    );
    aspect-ratio: 5 / 6;
    padding: 10px;
	margin: auto;
}